.title {
  font-size: 2.5rem;
}

#passwordLengthInput::-webkit-slider-thumb {
  background-color: #b80100;
  border-color: #b80100;
}

#passwordLengthInput:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 .2rem rgba(255, 0, 0, 0.25);
}

.form-check-input:focus {
  border-color: #b80100;
  box-shadow: 0 0 0 .2rem rgba(255, 0, 0, 0.25);
}

.form-check-input:checked {
  background-color: #b80100;
  border: #b80100;
}

.changeTheme {
  top: 0;
  right: 0;
  background: none;
}

.sun,
.moon {
  display: none;
}

.show {
  display: block;
}